<div class="container mt-4">

      <div class="row g-4">

            {% include 'dashboard/sidebar.html' %}

            <div class="col-md-9">

                  <h4 class="fw-bold mb-3 text-success">
                        Seller Dashboard
                  </h4>

                  <div class="row g-3 mb-4">

                        <div class="col-md-3">
                              <div class="card p-3 text-center shadow-sm">
                                    <h3>{{ products|length }}</h3>
                                    <small>Products</small>
                              </div>
                        </div>

                        <div class="col-md-3">
                              <div class="card p-3 text-center shadow-sm">
                                    <h3>₹{{ total_spent }}</h3>
                                    <small>Total Sales</small>
                              </div>
                        </div>

                        <div class="col-md-3">
                              <div class="card p-3 text-center shadow-sm">
                                    <h3>{{ seller_orders|length }}</h3>
                                    <small>Orders</small>
                              </div>
                        </div>

                        <div class="col-md-3">
                              <div class="card p-3 text-center shadow-sm">
                                    <h3>{{ low_stock_products }}</h3>
                                    <small>Low Stocks</small>
                              </div>
                        </div>

                  </div>

            </div>

      </div>

</div>