{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">

      {% for product in products %}
      <div class="col">
            <div class="card h-100">
                  {% if product.image %}
                  <img src="{{ product.image.url }}" class="card-img-top product-card-img" alt="{{ product.name }}">
                  {% else %}
                  <!-- Default placeholder if no image was uploaded -->
                  <img src="https://placeholder.com" class="card-img-top product-card-img" alt="No image available">
                  {% endif %}
                  <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.description|truncatewords:4 }}</p>

                        <div class="mt-2">
                              <span class="h5 fw-bold text-dark">₹{{ product.actual_price }}</span>
                              <span class="text-muted text-decoration-line-through ms-2 small">₹{{ product.marked_price
                                    }}</span>
                              <span class="text-success ms-2 small fw-semibold">{{ product.discounts }}% off</span>
                        </div>
                        <!-- <a href="s" class="btn btn-primary btn-sm w-100 mt-3">View Details</a> -->
                  </div>
            </div>
      </div>
      {% endfor %}
</div>

{% endblock content %}