{% load static %}
<nav class="navbar navbar-expand-lg border-bottom shadow-sm custom-navbar navbar-dark py-3">
      <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav me-auto">
                        {% if user.is_authenticated %}
                        {% if user.is_approved_seller %}
                        <div class="d-flex align-items-center gap-3 flex-wrap">
                              <!-- VERIFIED SELLER BADGE -->
                              <div class="bg-light rounded-pill px-4 py-2 shadow-sm d-flex align-items-center">
                                    <i class="bi bi-patch-check-fill text-success me-2 fs-5"></i><span class="fw-bold text-dark">Verified Seller </span>
                              </div>
                              <!-- ADD PRODUCT -->
                              <a href="{% url 'product_create' %}"
                                    class="btn btn-warning fw-bold rounded-pill px-4 shadow-sm">
                                    <i class="bi bi-plus-circle-fill me-1"></i>
                                    Add Product
                              </a>
                              <!-- MY PRODUCTS -->
                              <a href="{% url 'my_product' %}" class="btn btn-light rounded-pill px-4 shadow-sm">
                                    <i class="bi bi-box-seam me-1"></i>
                                    My Product
                              </a>
                              <!-- MY ORDERS -->
                              <a href="{% url 'orders' %}" class="btn btn-light rounded-pill px-4 shadow-sm">
                                    <i class="bi bi-box-seam me-1"></i>
                                    My Orders
                              </a>
                        </div>
                        {% elif user.category == "SELLER" %}
                        <div class="bg-warning-subtle text-dark rounded-pill px-4 py-2 small shadow-sm d-inline-flex align-items-center">
                              <i class="bi bi-hourglass-split me-2"></i>
                              Waiting for Admin Approval
                        </div>
                        {% endif %}
                        {% endif %}
                  </ul>
            </div>
      </div>
</nav>