.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain; /* or 'cover' if you want them to fill the space */
  background-color: #f8f9fa;
}
/* Standardizing the product card images */
.product-card-img {
  width: 100%;
  height: 200px; /* You can adjust this height as needed */
  object-fit: cover; /* This crops the image to fit the box perfectly */
  object-position: center;
  background-color: #f8f9fa; /* Light grey background for transparent images */
}
.product-card-img {
  transition: transform 0.3s;
}
.product-card-img:hover {
  transform: scale(1.05);
}
.shadow-xs {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.045) !important;
}
body {
  background-color: #f8f9fa;
}

.card {
  border: none;
}

.form-control:focus,
.form-select:focus {
  border-color: #212529;
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.1);
}
